<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx       http://www.springframework.org/schema/tx/spring-tx.xsd
    http://cxf.apache.org/jaxws                    http://cxf.apache.org/schemas/jaxws.xsd
    http://camel.apache.org/schema/spring          http://camel.apache.org/schema/spring/camel-spring.xsd
    http://www.springframework.org/schema/jee      http://www.springframework.org/schema/jee/spring-jee.xsd"
    default-autowire="byName">

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <context:annotation-config />
    <context:component-scan base-package="org.nhindirect.config" />

    <tx:annotation-driven transaction-manager="transactionManager" />
    <tx:jta-transaction-manager />

    <jee:jndi-lookup id="addressService" jndi-name="java:global/CONNECT-GF/CONNECTCommonWeb-4.3.0-SNAPSHOT/AddressServiceImpl" />
    <jee:jndi-lookup id="anchorService" jndi-name="java:global/CONNECT-GF/CONNECTCommonWeb-4.3.0-SNAPSHOT/AnchorServiceImpl" />
    <jee:jndi-lookup id="certificateService" jndi-name="java:global/CONNECT-GF/CONNECTCommonWeb-4.3.0-SNAPSHOT/CertificateServiceImpl" />
    <jee:jndi-lookup id="certPolicyService" jndi-name="java:global/CONNECT-GF/CONNECTCommonWeb-4.3.0-SNAPSHOT/CertPolicyServiceImpl" />
    <jee:jndi-lookup id="dnsService" jndi-name="java:global/CONNECT-GF/CONNECTCommonWeb-4.3.0-SNAPSHOT/DNSServiceImpl" />
    <jee:jndi-lookup id="domainService" jndi-name="java:global/CONNECT-GF/CONNECTCommonWeb-4.3.0-SNAPSHOT/DomainServiceImpl" />
    <jee:jndi-lookup id="settingService" jndi-name="java:global/CONNECT-GF/CONNECTCommonWeb-4.3.0-SNAPSHOT/SettingServiceImpl" />
    <jee:jndi-lookup id="trustBundleService" jndi-name="java:global/CONNECT-GF/CONNECTCommonWeb-4.3.0-SNAPSHOT/TrustBundleServiceImpl" />

    <jaxws:endpoint id="configurationService" address="/ConfigurationService" >
        <jaxws:implementor>
            <bean id="configurationServiceImpl" class="org.nhindirect.config.service.impl.ConfigurationServiceImpl">
                <property name="domainSvc" ref="domainSvc"/>
                <property name="addressSvc" ref="addressSvc"/>
                <property name="anchorSvc" ref="anchorSvc"/>
                <property name="certSvc" ref="certSvc"/>
                <property name="settingSvc" ref="settingSvc"/>
                <property name="DNSSvc" ref="dnsSvc"/>
                <property name="trustBundleSvc" ref="trustBundleSvc"/>
                <property name="certificatePolicySvc" ref="certificatePolicySvc"/>
            </bean>
        </jaxws:implementor>
    </jaxws:endpoint>

    <!--  Service Implementations -->
    <bean id="domainSvc" class="org.nhindirect.config.service.impl.DomainServiceImpl">
        <property name="dao" ref="domainDao"/>
    </bean>
    <bean id="addressSvc" class="org.nhindirect.config.service.impl.AddressServiceImpl">
        <property name="dao" ref="addressDao"/>
    </bean>
    <bean id="anchorSvc" class="org.nhindirect.config.service.impl.AnchorServiceImpl">
        <property name="dao" ref="anchorDao"/>
    </bean>
    <bean id="certSvc" class="org.nhindirect.config.service.impl.CertificateServiceImpl">
        <property name="dao" ref="certificateDao"/>
    </bean>
    <bean id="settingSvc" class="org.nhindirect.config.service.impl.SettingServiceImpl">
        <property name="dao" ref="settingDao"/>
    </bean>
    <bean id="dnsSvc" class="org.nhindirect.config.service.impl.DNSServiceImpl">
        <property name="dao" ref="dnsDao"/>
    </bean>
    <bean id="trustBundleSvc" class="org.nhindirect.config.service.impl.TrustBundleServiceImpl">
        <property name="dao" ref="trustBundleDao"/>
    </bean>
    <bean id="certificatePolicySvc" class="org.nhindirect.config.service.impl.CertificatePolicyServiceImpl">
        <property name="dao" ref="certPolicyDao"/>
    </bean>

    <bean id="domainDao" class="org.nhindirect.config.store.dao.impl.DomainDaoImpl"/>
    <bean id="addressDao" class="org.nhindirect.config.store.dao.impl.AddressDaoImpl"/>
    <bean id="anchorDao" class="org.nhindirect.config.store.dao.impl.AnchorDaoImpl" />
    <bean id="certificateDao" class="org.nhindirect.config.store.dao.impl.CertificateDaoImpl"/>
    <bean id="settingDao" class="org.nhindirect.config.store.dao.impl.SettingDaoImpl"/> 
    <bean id="dnsDao" class="org.nhindirect.config.store.dao.impl.DNSDaoImpl"/> 
    <bean id="trustBundleDao" class="org.nhindirect.config.store.dao.impl.TrustBundleDaoImpl"/> 
    <bean id="certPolicyDao" class="org.nhindirect.config.store.dao.impl.CertPolicyDaoImpl"/>

    <!--  Camel Context for cache update and trust bundle processors -->
    <bean id="bundleRefreshProcessor" class="org.nhindirect.config.processor.impl.DefaultBundleRefreshProcessorImpl">
        <property name="dao" ref="trustBundleDao"/>
    </bean>

    <bean id="bundleCacheUpdateProcessor" class="org.nhindirect.config.processor.impl.DefaultBundleCacheUpdateProcessorImpl">
        <property name="dao" ref="trustBundleDao"/>
        <property name="refreshProcessor" ref="bundleRefreshProcessor"/>
    </bean>

    <camelContext id="web-camel-context" xmlns="http://camel.apache.org/schema/spring">
        <template id="bundleRefresh" defaultEndpoint="seda:refresh-start"/>

        <route id="refreshBundle">
            <from uri="seda:refresh-start"/>
            <bean ref="bundleRefreshProcessor"/>
        </route>

        <route id="cache-refresher">
            <from uri="timer://cache-refresh?period=1h"/>
            <bean ref="bundleCacheUpdateProcessor"/>
        </route>
    </camelContext>
</beans>